@using Business.ViewModels.Admin.ProductCategory
@using Common.Entities
@model ProductCategoryCreateVM

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Create Product Category</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <form asp-action="create" asp-controller="productcategory" method="post"  enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="CategoryName"></label>
                    <input class="form-control" asp-for="CategoryName" />
                    <span asp-validation-for="CategoryName"></span>
                </div>
                <div>
                    <label asp-for="ParentId"></label>
                    <select class="form-control " asp-for="ParentId" asp-items="@(new SelectList(Model.Children, nameof(ProductCategory.Id), nameof(ProductCategory.CategoryName)))">
                        <option value="">-- Ozu parentdi --</option>
                    </select>
                    <span asp-validation-for="ParentId"></span>
                </div>
                <div class="form-group">
                    <label class="form-label" asp-for="Photo"></label></br>
                    <input type="file" class="form-label" asp-for="Photo">
                    <span asp-validation-for="Photo"></span>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>

</div>