@using Business.ViewModels.User.Account
@model AccountForgotPasswordVM

<div class="w-full">
    <div class="px-[var(--col-mobile)] lg:px-[var(--col)] pt-[48px] pb-[64px] md:py-[108px] flex justify-center">
        <div class="max-w-full w-full lg:max-w-[432px] lg:w-[432px]">
            <div>
                <div>
                    <h2 class=" lg:text-5xl text-black font-bold">Reset password</h2>
                </div>
                <div class="mt-5 lg:mt-6">
                    <p class="font-sans leading-5 lg:leading-7">
                        <div>
                            <div>
                                <p class="font-sans font-semibold">
                                    Please enter the email address you used to create your account. If
                                    an account with this email address exists we’ll send you an email to reset your
                                    password. <br><br>New to Polaroid? You can create an account <a class="underline"></a>.<br>
                                </p>
                                <p class="font-serif font-medium">
                                    <em class="italic">
                                        If you haven’t received an email within
                                        2 min, that means you don’t have an account and can create it
                                    </em><a href=""
                                            class="underline">here</a><em class="italic">.</em>
                                </p>
                            </div>
                        </div>
                    </p>


                </div>
                <div class="pt-5 lg:pt-7">
                    <form asp-action="ForgotPassword">
                        <div class="mt-4 lg:mt-5">
                            <div class="pl-4">
                                <label asp-for="Email" class="text-slate-300 font-sans"
                                       for="forgot-password-email">Email</label>
                            </div>
                            <div class="mt-2">
                                <input asp-for="Email" id="forgot-password-email"
                                       class="rounded-full border-spacing-3 border-2 w-full h-[48px] px-7 text-body-md text-black font-sans leading-4 "
                                       placeholder="Email" type="email" name="email" value="">
                            </div>
                            <div>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="pt-4 lg:pt-5">
                            <button type="submit" value="Submit"
                                    class="text-h6 font-bold rounded-[100px] transition-[all] duration-300 ease-out cursor-pointer bg-black text-white border-2 border-black hover:bg-white hover:text-black hover:border-solid py-4 px-7 w-full">
                                Submit
                            </button>
                        </div>
                        <div class="flex justify-center pt-9">
                            <a href="/account/login"
                               class="text-body-md text-black font-sans pb-[2px]">
                                Back
                                to login
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>