<section>

    <div class="relative w-full flex flex-col justify-center xs:items-center xs:justify-center md:items-center md:justify-center"
         style="color: rgb(0, 0, 0);">
        <div class="absolute w-full h-full" style="background: rgb(255, 255, 255);"></div>
        <div class="z-10 h-full flex flex-col items-center text-center xs:my-[12px] md:my-[48px] px-[var(--col-mobile)] md:px-[var(--col)] md:w-[calc(var(--col)*18)] relative xs:items-center xs:text-center xs:justify-center md:items-center md:text-center md:items-start md:text-left md:justify-center md:justify-center">
            <div class="font-bold lg:text-6xl  md:text-xl mb-[8px] md:mb-[24px]">
                <div>
                    <div>
                        <p class="font-bold">Our Story</p>
                    </div>
                </div>
            </div>
            <div class="font-sansLight text-lg leading-[22px] md:text-xl md:leading-[28px] mb-[28px] md:mb-[32px]">
                <div>
                    <div>
                        <p class="font-serif ">We create beautiful tools to capture the meaningful moments in life.</p>
                    </div>
                </div>
            </div>
            <div class="flex gap-3"></div>
        </div>
    </div>

    <div class="h-[480px] lg:h-[776px]">
        <video class="w-full h-full object-cover px-11" controls="" autoplay=""
               playsinline="" muted="">
            <source src="https://cdn.sanity.io/files/66aqnbcn/production/ee0ad62c30ce7d4e517f80ce14362d90c2ed8ab9.mp4"
                    type="video/mp4">
            <track kind="captions">
        </video>
    </div>




    <div class="bg-slate-200 flex flex-col mt-6 justify-center  items-center  lg:px-11 py-[48px] lg:py-[108px] w-full">
        <div class="max-w-[720px]">
            <h2 class=" lg:text-3xl text-black font-bold leading-[40px] lg:leading-[52px] text-left lg:text-center">
                Join us
            </h2>
            <p class="font-sans mt-7 lg:mt-9 text-h5-mobile lg:text-h5 leading-5 lg:leading-6 text-left lg:text-center">
                <div>
                    <div>
                        <p class="font-sans justify-center text-center ">
                            Be a part of our story and explore the opportunities in our global team. Or, share the moments
                            you love on our Instagram with the #MyPolaroidPerspective.
                        </p>
                    </div>
                </div>
            </p>
        </div>
    </div>

    <div data-section="fullWidthMedia-sectionIndex=3" class="bg-white w-full py-8 lg:py-[54px]">
        <div class="h-[480px] lg:h-[776px]">
            <div class="w-full h-full">
                <div class="hidden md:block md:w-full md:h-full relative animate-[fadeIn_0.3s_ease-out]">
                    <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: absolute; inset: 0px;">
                        <img alt="Image Alt Text"
                             sizes="(max-width: 480px) 480px, (max-width: 768px) 768px, (max-width: 1281px) 1281px, 1920px"
                             srcset="https://cdn.sanity.io/images/66aqnbcn/production/4759c764a04c15c4c611dabfec113b0629fe00d8-3257x1040.jpg?w=16&amp;q=75&amp;fit=clip&amp;auto=format 16w, https://cdn.sanity.io/images/66aqnbcn/production/4759c764a04c15c4c611dabfec113b0629fe00d8-3257x1040.jpg?w=32&amp;q=75&amp;fit=clip&amp;auto=format 32w, https://cdn.sanity.io/images/66aqnbcn/production/4759c764a04c15c4c611dabfec113b0629fe00d8-3257x1040.jpg?w=48&amp;q=75&amp;fit=clip&amp;auto=format 48w, https://cdn.sanity.io/images/66aqnbcn/production/4759c764a04c15c4c611dabfec113b0629fe00d8-3257x1040.jpg?w=64&amp;q=75&amp;fit=clip&amp;auto=format 64w, https://cdn.sanity.io/images/66aqnbcn/production/4759c764a04c15c4c611dabfec113b0629fe00d8-3257x1040.jpg?w=96&amp;q=75&amp;fit=clip&amp;auto=format 96w, https://cdn.sanity.io/images/66aqnbcn/production/4759c764a04c15c4c611dabfec113b0629fe00d8-3257x1040.jpg?w=128&amp;q=75&amp;fit=clip&amp;auto=format 128w, https://cdn.sanity.io/images/66aqnbcn/production/4759c764a04c15c4c611dabfec113b0629fe00d8-3257x1040.jpg?w=256&amp;q=75&amp;fit=clip&amp;auto=format 256w, https://cdn.sanity.io/images/66aqnbcn/production/4759c764a04c15c4c611dabfec113b0629fe00d8-3257x1040.jpg?w=384&amp;q=75&amp;fit=clip&amp;auto=format 384w, https://cdn.sanity.io/images/66aqnbcn/production/4759c764a04c15c4c611dabfec113b0629fe00d8-3257x1040.jpg?w=640&amp;q=75&amp;fit=clip&amp;auto=format 640w, https://cdn.sanity.io/images/66aqnbcn/production/4759c764a04c15c4c611dabfec113b0629fe00d8-3257x1040.jpg?w=750&amp;q=75&amp;fit=clip&amp;auto=format 750w, https://cdn.sanity.io/images/66aqnbcn/production/4759c764a04c15c4c611dabfec113b0629fe00d8-3257x1040.jpg?w=828&amp;q=75&amp;fit=clip&amp;auto=format 828w, https://cdn.sanity.io/images/66aqnbcn/production/4759c764a04c15c4c611dabfec113b0629fe00d8-3257x1040.jpg?w=1080&amp;q=75&amp;fit=clip&amp;auto=format 1080w, https://cdn.sanity.io/images/66aqnbcn/production/4759c764a04c15c4c611dabfec113b0629fe00d8-3257x1040.jpg?w=1200&amp;q=75&amp;fit=clip&amp;auto=format 1200w, https://cdn.sanity.io/images/66aqnbcn/production/4759c764a04c15c4c611dabfec113b0629fe00d8-3257x1040.jpg?w=1920&amp;q=75&amp;fit=clip&amp;auto=format 1920w, https://cdn.sanity.io/images/66aqnbcn/production/4759c764a04c15c4c611dabfec113b0629fe00d8-3257x1040.jpg?w=2048&amp;q=75&amp;fit=clip&amp;auto=format 2048w, https://cdn.sanity.io/images/66aqnbcn/production/4759c764a04c15c4c611dabfec113b0629fe00d8-3257x1040.jpg?w=3840&amp;q=75&amp;fit=clip&amp;auto=format 3840w"
                             src="https://cdn.sanity.io/images/66aqnbcn/production/4759c764a04c15c4c611dabfec113b0629fe00d8-3257x1040.jpg?w=3840&amp;q=75&amp;fit=clip&amp;auto=format"
                             decoding="async" data-nimg="fill"
                             style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover;">
                    </span>
                </div>
                <div class="w-full h-full block md:hidden relative animate-[fadeIn_0.3s_ease-out]">
                    <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: absolute; inset: 0px;">
                        <img alt="Image Alt Text"
                             sizes="(max-width: 480px) 480px, (max-width: 768px) 768px, (max-width: 1281px) 1281px, 1920px"
                             srcset="https://cdn.sanity.io/images/66aqnbcn/production/0e4a072cd7da94f55c40ae7777c8f386d9f054bd-750x1000.jpg?w=16&amp;q=75&amp;fit=clip&amp;auto=format 16w, https://cdn.sanity.io/images/66aqnbcn/production/0e4a072cd7da94f55c40ae7777c8f386d9f054bd-750x1000.jpg?w=32&amp;q=75&amp;fit=clip&amp;auto=format 32w, https://cdn.sanity.io/images/66aqnbcn/production/0e4a072cd7da94f55c40ae7777c8f386d9f054bd-750x1000.jpg?w=48&amp;q=75&amp;fit=clip&amp;auto=format 48w, https://cdn.sanity.io/images/66aqnbcn/production/0e4a072cd7da94f55c40ae7777c8f386d9f054bd-750x1000.jpg?w=64&amp;q=75&amp;fit=clip&amp;auto=format 64w, https://cdn.sanity.io/images/66aqnbcn/production/0e4a072cd7da94f55c40ae7777c8f386d9f054bd-750x1000.jpg?w=96&amp;q=75&amp;fit=clip&amp;auto=format 96w, https://cdn.sanity.io/images/66aqnbcn/production/0e4a072cd7da94f55c40ae7777c8f386d9f054bd-750x1000.jpg?w=128&amp;q=75&amp;fit=clip&amp;auto=format 128w, https://cdn.sanity.io/images/66aqnbcn/production/0e4a072cd7da94f55c40ae7777c8f386d9f054bd-750x1000.jpg?w=256&amp;q=75&amp;fit=clip&amp;auto=format 256w, https://cdn.sanity.io/images/66aqnbcn/production/0e4a072cd7da94f55c40ae7777c8f386d9f054bd-750x1000.jpg?w=384&amp;q=75&amp;fit=clip&amp;auto=format 384w, https://cdn.sanity.io/images/66aqnbcn/production/0e4a072cd7da94f55c40ae7777c8f386d9f054bd-750x1000.jpg?w=640&amp;q=75&amp;fit=clip&amp;auto=format 640w, https://cdn.sanity.io/images/66aqnbcn/production/0e4a072cd7da94f55c40ae7777c8f386d9f054bd-750x1000.jpg?w=750&amp;q=75&amp;fit=clip&amp;auto=format 750w, https://cdn.sanity.io/images/66aqnbcn/production/0e4a072cd7da94f55c40ae7777c8f386d9f054bd-750x1000.jpg?w=828&amp;q=75&amp;fit=clip&amp;auto=format 828w, https://cdn.sanity.io/images/66aqnbcn/production/0e4a072cd7da94f55c40ae7777c8f386d9f054bd-750x1000.jpg?w=1080&amp;q=75&amp;fit=clip&amp;auto=format 1080w, https://cdn.sanity.io/images/66aqnbcn/production/0e4a072cd7da94f55c40ae7777c8f386d9f054bd-750x1000.jpg?w=1200&amp;q=75&amp;fit=clip&amp;auto=format 1200w, https://cdn.sanity.io/images/66aqnbcn/production/0e4a072cd7da94f55c40ae7777c8f386d9f054bd-750x1000.jpg?w=1920&amp;q=75&amp;fit=clip&amp;auto=format 1920w, https://cdn.sanity.io/images/66aqnbcn/production/0e4a072cd7da94f55c40ae7777c8f386d9f054bd-750x1000.jpg?w=2048&amp;q=75&amp;fit=clip&amp;auto=format 2048w, https://cdn.sanity.io/images/66aqnbcn/production/0e4a072cd7da94f55c40ae7777c8f386d9f054bd-750x1000.jpg?w=3840&amp;q=75&amp;fit=clip&amp;auto=format 3840w"
                             src="https://cdn.sanity.io/images/66aqnbcn/production/0e4a072cd7da94f55c40ae7777c8f386d9f054bd-750x1000.jpg?w=3840&amp;q=75&amp;fit=clip&amp;auto=format"
                             decoding="async" data-nimg="fill"
                             style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover;">
                    </span>
                </div>
            </div>
        </div>
    </div>


</section>